
/**umb_name:Normal*/
p {
	font-family:arial,helvetica,sans-serif; font-size:13px;
}

/**umb_name:Heading 1*/
h1{
	font-family:arial,helvetica,sans-serif; font-size:20px;
}

/**umb_name:Heading 2*/
h2{
	font-family:arial,helvetica,sans-serif; font-size:18px;
}

/**umb_name:Heading 3*/
h3{
	font-family:arial,helvetica,sans-serif; font-size:15px;
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
p {
font-family:arial,helvetica,sans-serif; font-size:13px;
}

h1 {
font-family:arial,helvetica,sans-serif; font-size:20px;
}

h2 {
font-family:arial,helvetica,sans-serif; font-size:18px;
}

h3 {
font-family:arial,helvetica,sans-serif; font-size:15px;
}

